* {
    margin: 0;
}

#filmList {
    display: flex;
    flex-wrap: wrap;
}

#characterList {
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
}
.vehicleView {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 200px;
}

img, nav {
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: large;
    font-weight: 600;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

figure > img {
    margin: 1em;
    height: 200px;
}

figcaption {
    text-align: center;
    background-color: black;
    color: #fff;

}