* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body { 
  font-family: sans-serif;
}

.title {
  font-family: 'Original Surfer', cursive;
  padding: 10px 0 0 10px;
}

.scene {
  width: 200px;
  height: 260px;
  margin: 20px 20px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform .8s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card_face--front {
  background: #ADD8E6;
  text-align: center;
  font-family: 'Original Surfer', cursive;
  font-size: large;
  transition: 1s box-shadow;
  padding: 10px;
}

.card_face--front img {
  height: 180px;
  padding: 5px;
}

.card_face--back {
  background: linear-gradient(#8A38D6, #e9c6ff);
  color: white;
  font-family: 'Original Surfer', cursive;
  font-size: large;
  padding-top: 18%;
  padding-left: 20px;
  transform: rotateY(180deg);
  text-align: left;
}

.card_face--front:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.card_face--front:hover.fire::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: orangered;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.fire:hover:after {
  background: orange;
  animation: 2s counterclockwise infinite;
}

.card_face--front.grass:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: green;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.grass:hover:after {
  background: lightgreen;
  animation: 2s counterclockwise infinite;
}

.card_face--front.water:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: blue;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.water:hover:after {
  background: lightskyblue;
  animation: 2s counterclockwise infinite;
}

.card_face--front.bug:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: cadetblue;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.normal:hover:after {
  background: burlywood;
  animation: 2s counterclockwise infinite;
}

.card_face--front.normal:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: beige;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.ghost:hover:after {
  background:dimgray;
  animation: 2s counterclockwise infinite;
}

.card_face--front.ghost:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: darkslategray;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.bug:hover:after {
  background: cyan;
  animation: 2s counterclockwise infinite;
}

.card_face--front.poison:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: red;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.poison:hover:after {
  background: pink;
  animation: 2s counterclockwise infinite;
}

.card_face--front.electric:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: yellowgreen;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.electric:hover:after {
  background: yellow;
  animation: 2s counterclockwise infinite;
}

.card_face--front.flying:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: darkmagenta;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.flying:hover:after {
  background: magenta;
  animation: 2s counterclockwise infinite;
}

.card_face--front.fighting:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: crimson;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.fighting:hover:after {
  background: maroon;
  animation: 2s counterclockwise infinite;
}

.card_face--front.ice:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: lightcyan;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.ice:hover:after {
  background: cyan;
  animation: 2s counterclockwise infinite;
}

.card_face--front.ground:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: brown;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.ground:hover:after {
  background: tan;
  animation: 2s counterclockwise infinite;
}

.card_face--front.fairy:hover::before, .card_face--front:hover::after {
  display: block; 
  content: '';
  position: absolute;
  width: 200px;
  height: 250px;
  background: palegreen;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card_face--front.fairy:hover:after {
  background: seagreen;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.grass {
 box-shadow: 5px 5px 5px green;
}

.fire {
  box-shadow: 5px 5px 5px orangered;
}

.water {
  box-shadow: 5px 5px 5px blue;
}

.bug {
  box-shadow: 5px 5px 5px cadetblue;
}

.normal {
  box-shadow: 5px 5px 5px burlywood;
}

.flying {
  box-shadow: 5px 5px 5px darkmagenta;
}

.electric {
  box-shadow: 5px 5px 5px yellowgreen;
}

.poison {
  box-shadow: 5px 5px 5px red;
}

.fighting {
  box-shadow: 5px 5px 5px crimson;
}

.ice {
  box-shadow: 5px 5px 5px lightcyan;
}

.ground {
  box-shadow: 5px 5px 5px brown;
}

.fairy {
  box-shadow: 5px 5px 5px palegreen;
}

.ghost {
  box-shadow: 5px 5px 5px darkslategray;
}