* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid black;
    margin: 10px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}